<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bladins.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Crysis Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B7B5E711F2FA80A0099C4EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B928DE31EEEA23E0040EF42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B928DF71EEEA23E0040EF42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B928E021EEEA23E0040EF42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
